<div id="container" style="height: 500px; min-width: 500px"></div>

<div class="container">
  <div class="hero-unit">
    <p>The cyclically adjusted price to earnings ratio is the S&P 500 index divided by 10-years of inflation adjusted ("real") earnings.  10-year average earnings are used to smooth the volatile nature of earnings by averaging over the business cycle.</p>
  </div>
</div>

<%= content_tag "div", id: "cape_data", data: {result: @result} do %>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render partial: "shiller_data_months/cape.js" %>
  </script>
<% end %>
