<div id="container" style="height: 500px; min-width: 500px"></div>

<div class="container">
  <div class="hero-unit">
    <p>The dividend yield was higher than the long term interest rate for 86 years starting in 1871, but the relationship flipped in 1957.  From 1975 until 2012, interest rates were higher than the dividend yield, but the relationship has changed again, and now interest rates are slightly lower than the dividend yield.</p>
  </div>
</div>

<%= content_tag "div", id: "dividend_yield_data", data: {dividend_yield_data: @dividend_yield_data} do %>
<% end %>

<%= content_tag "div", id: "interest_rates_data", data: {interest_rates_data: @interest_rates_data} do %>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render partial: "shiller_data_months/interest_rates_dividends.js" %>
  </script>
<% end %>
