<div id="container" style="height: 500px; min-width: 500px"></div>
<%= content_tag "div", id: "dividend_yield_data", data: {dividend_yield_data: @dividend_yield_data} do %>
<% end %>
<%= content_tag "div", id: "interest_rates_data", data: {interest_rates_data: @interest_rates_data} do %>
<% end %>
