<div>
  <form class="form-horizontal span5" id="future_value_form">

    <div class="control-group">
      <label class="control-label" for="start_year">Start Year</label>
      <div class="controls">
        <input type="text" id="start_year" placeholder="2010">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="start_month">Start Month</label>
      <div class="controls">
        <input type="text" id="start_month" placeholder="1">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="end_year">End Year</label>
      <div class="controls">
        <input type="text" id="end_year" placeholder="2012">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="end_month">End Month</label>
      <div class="controls">
        <input type="text" id="end_month" placeholder="5">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="button" class="btn btn-primary" id="return_calculator_button">Calculate the Return</button>
      </div>
    </div>
  </form>

  <div class="span5 text-center hero-unit" id="result_summary">
    <p><span class='label label-important'>Attention:</span></p>
    <h3>Fill in fields on the left to calculate the total return over a time interval</h3>
  </div>

</div>

<div id="historic_returns_chart" style="height: 500px; min-width: 500px"></div>
